# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
env/
venv/

# Database and Data
*.db
data_out/
debug/
logs/

# IDEs
.vscode/
.idea/

# Testing (dacă vrei să ignori folderul de teste pe GitHub)
tests/